@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

$light-grey: #e0e0e0;
$dark-grey: #3f3f3f;
$grey-hover: #aeaeae;
$primary: #2962ff;
$primary-hover: #0039cb;
$secondary: #455a64;
$secondary-hover: #1c313a;
$danger: #d32f2f;
$danger-hover: #9a0007;
$disabled: #9e9e9e;
$blue: #3d5afe;

$colors: (
  default: (
    $light-grey,
    $dark-grey,
    0px 2px 3px rgba(51, 51, 51, 0.2),
    $grey-hover,
  ),
  primary: (
    $primary,
    #fff,
    0px 2px 3px rgba(41, 98, 255, 0.2),
    $primary-hover,
  ),
  secondary: (
    $secondary,
    #fff,
    0px 2px 3px rgba(69, 90, 100, 0.2),
    $secondary-hover,
  ),
  danger: (
    $danger,
    #fff,
    0px 2px 3px rgba(211, 47, 47, 0.2),
    $danger-hover,
  ),
);

$sizes: (
  sm: 6px 12px,
  md: 8px 16px,
  lg: 11px 22px,
);

.btn {
  font-family: 'Noto Sans Jp', sans-serif;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  align-items: center;
  display: flex;

  @each $name, $color in $colors {
    &--color-#{$name} {
      background-color: nth($color, 1);
      color: nth($color, 2);
      box-shadow: nth($color, 3);

      &:focus,
      &:hover:not(:disabled) {
        background-color: nth($color, 4);
        cursor: pointer;
      }

      &.hover {
        background-color: nth($color, 4);
      }

      &.btn--outline {
        border: 1px solid nth($color, 1);
        color: nth($color, 1);
        background: white;
        padding: 8px 20px;

        &:focus,
        &:hover:not(:disabled) {
          background-color: rgba(nth($color, 1), 0.1);
        }

        &.hover {
          background-color: rgba(nth($color, 1), 0.1);
        }
      }

      &.btn--text {
        background: none;
        box-shadow: none;
        @if $name == default {
          color: nth($color, 2);
        } @else {
          color: nth($color, 1);
        }
        padding: 8px 20px;

        &:hover:not(:disabled),
        &:focus {
          @if $name == default {
            background: rgba(nth($color, 2), 0.1);
          } @else {
            background: rgba(nth($color, 1), 0.1);
          }
        }

        &.hover {
          @if $name == default {
            background: rgba(nth($color, 2), 0.1);
          } @else {
            background: rgba(nth($color, 1), 0.1);
          }
        }
      }

      &.btn--startIcon,
      &.btn--endIcon {
        color: nth($color, 2);
        background: nth($color, 1);

        // &:focus,
        // &:hover:not(:disabled) {
        //   background: #0039cb;
        // }
      }
    }
  }

  &--disableShadow {
    box-shadow: none;
  }

  &--disabled {
    padding: 8px 13px;
    background: $light-grey;
    color: $disabled !important;
  }

  &--startIcon {
    span {
      padding-right: 10px;
    }
  }

  &--endIcon {
    span {
      padding-left: 10px;
    }
  }

  @each $name, $size in $sizes {
    &--#{$name} {
      padding: $size;
    }
  }
}

.material-icons {
  font-size: 14px;
}
