@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@500&family=Ubuntu+Mono&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 15px;
}

h1 {
  font-size: 24px;
  color: #4f4f4f;
  margin-bottom: 20px;
}

p {
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 12px;
  color: #333333;
  margin-bottom: 10px;
  height: 12px;

  &.hover {
    color: #828282;
  }
}

.row {
  display: flex;
  padding: 15px 0;
  gap: 150px;

  &-block {
    min-width: 260px;

    &--narrow {
      min-width: 200px;
    }
  }
}

footer {
  font-family: 'Montserrat';
  font-weight: 500;
  color: #a9a9a9;
  font-size: 14px;
  margin-top: 30px;
}
